version: 2
jobs:
   build:
     docker:
       - image: circleci/openjdk:8-jdk

     working_directory: ~/repo

     environment:
       MAVEN_OPTS: -Xmx3200m

     steps:
       - checkout
       
       - run: mvn clean package
       
       - store_artifacts:
          path: target/SkyBlock-0.4.7-BETA.jar
